In [1]:
import pandas as pd
import geopandas as gpd
import shapely

import pydeck as pdk
from shapely.geometry import Polygon, Point

In [2]:
compress = gpd.read_file('데이터/compress/35.1 토지이용(건물) 압축도.shp', encoding = 'utf-8')

compress

,gid,sgg_cd,sgg_nm_k,sgg_nm_e,sido_cd,sido_nm_k,sido_nm_e,value,stats_year,raw_d_year,geometry
0,다사52a53a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,103.24,2021,202110,"POLYGON ((952000.000 1953000.000, 952000.000 1..."
1,다사52a54a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,0.04,2021,202110,"POLYGON ((952000.000 1954000.000, 952000.000 1..."
2,다사52a55a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,3.78,2021,202110,"POLYGON ((952000.000 1955000.000, 952000.000 1..."
3,다사52a56a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,66.87,2021,202110,"POLYGON ((952000.000 1956000.000, 952000.000 1..."
4,다사52a57a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,24.82,2021,202110,"POLYGON ((952000.000 1957000.000, 952000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,마사68b00b,None,None,None,None,None,None,-999.00,2021,202110,"POLYGON ((1168500.000 1900500.000, 1168500.000..."
419168,마아03b07b,None,None,None,None,None,None,-999.00,2021,202110,"POLYGON ((1103500.000 2007500.000, 1103500.000..."
419169,마아05b04b,None,None,None,None,None,None,-999.00,2021,202110,"POLYGON ((1105500.000 2004500.000, 1105500.000..."
419170,마아08b00b,None,None,None,None,None,None,-999.00,2021,202110,"POLYGON ((1108500.000 2000500.000, 1108500.000..."
419171,마아08b02b,None,None,None,None,None,None,-999.00,2021,202110,"POLYGON ((1108500.000 2002500.000, 1108500.000..."

In [3]:
compress = compress[compress['sido_nm_k'] == '서울특별시']

compress['gid']

0       다사52a53a
1       다사52a54a
2       다사52a55a
3       다사52a56a
4       다사52a57a
          ...
2415    다사70b50b
2416    다사70b51b
2417    다사70b52b
2418    다사71b49b
2419    다사71b50b
Name: gid, Length: 2420, dtype: object

In [4]:
compress = compress[['gid','value']]
compress = compress.set_index('gid')
compress.columns = ['토지이용_압축도']
compress
compress.to_excel('C:\data/토지이용압축도.xlsx')

In [5]:
complexity = gpd.read_file('데이터/complexity/36.1 토지이용(건물) 복합도.shp', encoding = 'utf-8')
complexity

,gid,sgg_cd,sgg_nm_k,sgg_nm_e,sido_cd,sido_nm_k,sido_nm_e,value,stats_year,raw_d_year,geometry
0,다사52a53a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,8.0,2021,202110,"POLYGON ((952000.000 1953000.000, 952000.000 1..."
1,다사52a54a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,1.0,2021,202110,"POLYGON ((952000.000 1954000.000, 952000.000 1..."
2,다사52a55a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,4.0,2021,202110,"POLYGON ((952000.000 1955000.000, 952000.000 1..."
3,다사52a56a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,5.0,2021,202110,"POLYGON ((952000.000 1956000.000, 952000.000 1..."
4,다사52a57a,11110,종로구,Jongno-gu,11,서울특별시,Seoul,5.0,2021,202110,"POLYGON ((952000.000 1957000.000, 952000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,마사68b00b,None,None,None,None,None,None,-999.0,2021,202110,"POLYGON ((1168500.000 1900500.000, 1168500.000..."
419168,마아03b07b,None,None,None,None,None,None,-999.0,2021,202110,"POLYGON ((1103500.000 2007500.000, 1103500.000..."
419169,마아05b04b,None,None,None,None,None,None,-999.0,2021,202110,"POLYGON ((1105500.000 2004500.000, 1105500.000..."
419170,마아08b00b,None,None,None,None,None,None,-999.0,2021,202110,"POLYGON ((1108500.000 2000500.000, 1108500.000..."
419171,마아08b02b,None,None,None,None,None,None,-999.0,2021,202110,"POLYGON ((1108500.000 2002500.000, 1108500.000..."

In [6]:
complexity = complexity[complexity['sido_nm_k'] == '서울특별시']

complexity['gid']

0       다사52a53a
1       다사52a54a
2       다사52a55a
3       다사52a56a
4       다사52a57a
          ...
2415    다사70b50b
2416    다사70b51b
2417    다사70b52b
2418    다사71b49b
2419    다사71b50b
Name: gid, Length: 2420, dtype: object

In [7]:
complexity = complexity[['gid','value']]
complexity = complexity.set_index('gid')
complexity.columns = ['토지이용_복합도']
complexity
complexity.to_excel('C:\data/토지이용복합도.xlsx')

In [8]:
land = compress.join(complexity)
land

          토지이용_압축도  토지이용_복합도
gid
다사52a53a    103.24       8.0
다사52a54a      0.04       1.0
다사52a55a      3.78       4.0
다사52a56a     66.87       5.0
다사52a57a     24.82       5.0
...            ...       ...
다사70b50b    313.75       6.0
다사70b51b     20.02       3.0
다사70b52b      3.68       1.0
다사71b49b      4.72       7.0
다사71b50b     77.57       4.0

[2420 rows x 2 columns]

In [9]:
park = gpd.read_file('데이터/park/66.2 생활권공원(시군구격자) 접근성.shp', encoding = 'utf-8')

park

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.391,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.681,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사56a52b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.941,2021,202112,"POLYGON ((956000.000 1952500.000, 956000.000 1..."
3,다사54a58a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.092,2021,202112,"POLYGON ((954000.000 1958000.000, 954000.000 1..."
4,다사54b53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.719,2021,202112,"POLYGON ((954500.000 1953500.000, 954500.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,나라91a83a,None,None,None,None,None,None,6.972,2021,202112,"POLYGON ((891000.000 1683000.000, 891000.000 1..."
419168,나라90a92a,None,None,None,None,None,None,-999.000,2021,202112,"POLYGON ((890000.000 1692000.000, 890000.000 1..."
419169,나라86a52a,None,None,None,None,None,None,16.240,2021,202112,"POLYGON ((886000.000 1652000.000, 886000.000 1..."
419170,나라86a28a,None,None,None,None,None,None,21.536,2021,202112,"POLYGON ((886000.000 1628000.000, 886000.000 1..."
419171,나라84a66a,None,None,None,None,None,None,-999.000,2021,202112,"POLYGON ((884000.000 1666000.000, 884000.000 1..."

In [10]:
park = park[park['sido_nm_k'] == '서울특별시']

park['gid']

0       다사55a53b
1       다사53a53a
2       다사56a52b
3       다사54a58a
4       다사54b53b
          ...
2415    다사71b49b
2416    다사69a49a
2417    다사69a47b
2418    다사68a51b
2419    다사67a47a
Name: gid, Length: 2420, dtype: object

In [11]:
park = park[['gid','value']]
park = park.set_index('gid')
park.columns = ['생활권공원_접근성']
park
park.to_excel('C:\data/생활권공원 접근성.xlsx')

In [12]:
land_park = land.join(park)
land_park
land_park.to_excel('C:\data/압축도_복합도_생활권공원.xlsx')