## 수요예측

### 필요한 라이브러리 호출

In [238]:
import pandas as pd
import numpy as np
import geopandas as gpd
import shapely

import seaborn as sns
import matplotlib.pyplot as plt

from shapely.geometry import Point
import tqdm

### 환경공단 전기차 충전소 데이터
- 1월 ~ 12월 데이터 수집

In [152]:
df01 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 1월.xlsx')
df02 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 2월.xlsx')
df03 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 3월.xlsx')
df04 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 4월.xlsx')
df05 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 5월.xlsx')
df06 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 6월.xlsx')
df07 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 7월.xlsx')
df08 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 8월.xlsx')
df09 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 9월.xlsx')
df10 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 10월.xlsx')
df11 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 11월.xlsx')
df12 = pd.read_excel('../데이터/수요예측/전처리_수요/환경공단충전소/2021년 12월.xlsx')

df01.head()

,충전소명,충전기 ID,충전기 타입,충전 시작 시각,충전 종료 시각,충전기 용량,충전량,지역 주소,운영기관,이용 가능 시간(휴점일),이용자 제한
0,난향동 주민센터,1,DC차데모+AC3상+DC콤보,20210101094231,20210101095925,급속(50kW),5.74,서울특별시 관악구 난곡로 67,환경부,24시간 이용가능,없음
1,목2동 주민센터,1,DC차데모+AC3상+DC콤보,20210101092212,20210101100258,급속(100kW멀티),17.48,서울특별시 양천구 목동 중앙본로 120,환경부,24시간 이용가능,없음
2,양화진 공영주차장,21,DC콤보,20210101110902,20210101112017,급속(200kW동시),1.04,서울특별시 마포구 토정로 2,환경부,24시간 이용가능,없음
3,은평구민체육센터,1,DC차데모+AC3상+DC콤보,20210101104218,20210101112304,급속(50kW),18.39,서울특별시 은평구 진관1로 40 입구 앞,환경부,24시간 이용가능,없음
4,롯데마트 중계점 야외주차장,44,DC콤보,20210101123856,20210101131856,급속(100kW단독),16.66,서울특별시 노원구 노원로 330,환경부,10:00 ~ 23:00,없음

In [153]:
df01 = df01[['지역 주소', '충전기 ID', '충전량']]
df02 = df02[['지역 주소', '충전기 ID', '충전량']]
df03 = df03[['지역 주소', '충전기 ID', '충전량']]
df04 = df04[['지역 주소', '충전기 ID', '충전량']]
df05 = df05[['지역 주소', '충전기 ID', '충전량']]
df06 = df06[['지역 주소', '충전기 ID', '충전량']]
df07 = df07[['지역 주소', '충전기 ID', '충전량']]
df08 = df08[['지역 주소', '충전기 ID', '충전량']]
df09 = df09[['지역 주소', '충전기 ID', '충전량']]
df10 = df10[['지역 주소', '충전기 ID', '충전량']]
df11 = df11[['지역 주소', '충전기 ID', '충전량']]
df12 = df12[['지역 주소', '충전기 ID', '충전량']]

In [154]:
df01 = pd.DataFrame(df01.groupby('지역 주소')['충전량'].sum())
df02 = pd.DataFrame(df02.groupby('지역 주소')['충전량'].sum())
df03 = pd.DataFrame(df03.groupby('지역 주소')['충전량'].sum())
df04 = pd.DataFrame(df04.groupby('지역 주소')['충전량'].sum())
df05 = pd.DataFrame(df05.groupby('지역 주소')['충전량'].sum())
df06 = pd.DataFrame(df06.groupby('지역 주소')['충전량'].sum())
df07 = pd.DataFrame(df07.groupby('지역 주소')['충전량'].sum())
df08 = pd.DataFrame(df08.groupby('지역 주소')['충전량'].sum())
df09 = pd.DataFrame(df09.groupby('지역 주소')['충전량'].sum())
df10 = pd.DataFrame(df10.groupby('지역 주소')['충전량'].sum())
df11 = pd.DataFrame(df11.groupby('지역 주소')['충전량'].sum())
df12 = pd.DataFrame(df12.groupby('지역 주소')['충전량'].sum())

In [155]:
ev12 = df01.append(df02)
ev123 = ev12.append(df03)
ev1234 = ev123.append(df04)
ev12345 = ev1234.append(df05)
ev123456 = ev12345.append(df06)
ev1234567 = ev123456.append(df07)
ev12345678 = ev1234567.append(df08)
ev123456789 = ev12345678.append(df09)
ev12345678910 = ev123456789.append(df10)
ev1234567891011 = ev12345678910.append(df11)
ev_total = ev1234567891011.append(df12)
ev_total

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev12 = df01.append(df02)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev123 = ev12.append(df03)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev1234 = ev123.append(df04)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev12345 = ev1234.append(df05)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev123456 = ev12345.append(df06)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev1234567 = ev123456.append(df07)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev12345678 = ev1234567.append(df08)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev123456789 = ev12345678.append(df09)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev12345678910 = ev123456789.append(df10)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev1234567891011 = ev12345678910.append(df11)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3063592756.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ev_total = ev1234567891011.append(df12)

                                충전량
지역 주소
서울특별시 강남구 강남대로120길 33       2550.28
서울특별시 강남구 개포동 13-2          2523.06
서울특별시 강남구 개포로 25길 32        2898.69
서울특별시 강남구 개포로 607           2468.70
서울특별시 강남구 개포로 621           1062.22
...                             ...
서울특별시 중랑구 신내로 201  5층 H01   2560.04
서울특별시 중랑구 용마산로 250-12  출구쪽  9991.24
서울특별시 중랑구 중화동 73-10         1153.76
서울특별시 중랑구 중화동 73-5          5550.53
서울특별시 중랑구 중화동 73-6          1959.90

[2158 rows x 1 columns]

In [156]:
Main = ev_total.groupby('지역 주소')['충전량'].mean()

Main = Main.reset_index()
Main.head()

                   지역 주소          충전량
0  서울특별시 강남구 강남대로120길 33  2505.293333
1     서울특별시 강남구 개포동 1273   261.692500
2     서울특별시 강남구 개포동 13-2  2558.240833
3   서울특별시 강남구 개포로 25길 32  4153.545000
4      서울특별시 강남구 개포로 607  2901.313333

### 주요 지역 선정
- 전기차 등록대수가 매년 증가하고 있지만, 아직 부족한 상황
- 전기차 등록대수가 많은 상위 3개 지역(강남구, 서초구, 구로구)에 대하여 충전량 분석

In [157]:
Main['구'] = Main['지역 주소'].str.split(' ').str[1]
Main = pd.DataFrame(Main)
Main = Main[(Main['구'] == '서초구') | (Main['구'] == '강남구') | (Main['구'] == '구로구')]

In [158]:
kepco = pd.read_csv('../데이터/수요예측/전처리_수요/한국전력공사/한국전력공사_서울시 전기차 충전소 충전량_20220331.csv')
kepco

,충전구분,충전소명,주소,충전기용량,충전량,충전시간,충전분,충전시작시각,충전종료시각
0,급속,영등포전력지사,서울특별시 영등포구 경인로 878,50.0,0.05,0,0,2021-01-01 02:06:20,2021-01-01 02:06:36
1,급속,영등포전력지사,서울특별시 영등포구 경인로 878,50.0,13.10,0,29,2021-01-02 14:58:37,2021-01-02 15:28:25
2,급속,영등포전력지사,서울특별시 영등포구 경인로 878,50.0,47.56,1,33,2021-01-02 20:57:53,2021-01-02 22:31:46
3,급속,영등포전력지사,서울특별시 영등포구 경인로 878,50.0,24.77,0,38,2021-01-04 12:12:02,2021-01-04 12:51:01
4,급속,영등포전력지사,서울특별시 영등포구 경인로 878,50.0,19.21,0,29,2021-01-04 22:51:11,2021-01-04 23:21:04
...,...,...,...,...,...,...,...,...,...
638697,급속,서울전력관리처,서울특별시 중구 퇴계로 140,50.0,41.67,1,21,2022-03-31 09:44:33,2022-03-31 11:05:57
638698,급속,서울전력관리처,서울특별시 중구 퇴계로 140,50.0,29.07,0,44,2022-03-31 12:17:56,2022-03-31 13:02:54
638699,급속,서울전력관리처,서울특별시 중구 퇴계로 140,50.0,55.65,1,21,2022-03-31 16:57:11,2022-03-31 18:19:04
638700,급속,서울전력관리처,서울특별시 중구 퇴계로 140,50.0,21.48,1,3,2022-03-31 13:06:18,2022-03-31 14:09:20
638701,급속,서울전력관리처,서울특별시 중구 퇴계로 140,50.0,13.56,0,24,2022-03-31 07:27:01,2022-03-31 07:51:39

2021년 1월 ~ 2021년 12월 충전량 데이터 수집

In [159]:
kepco = kepco[['충전구분', '주소', '충전량', '충전분', '충전시작시각', '충전종료시각']]

kepco['시'] = kepco['주소'].str.split(' ').str[0]
kepco['월'] = kepco['충전시작시각'].str.split('-').str[1]
kepco['년'] = kepco['충전시작시각'].str.split('-').str[0]
kepco

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3117023037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kepco['시'] = kepco['주소'].str.split(' ').str[0]
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3117023037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kepco['월'] = kepco['충전시작시각'].str.split('-').str[1]

,충전구분,주소,충전량,충전분,충전시작시각,충전종료시각,시,월,년
0,급속,서울특별시 영등포구 경인로 878,0.05,0,2021-01-01 02:06:20,2021-01-01 02:06:36,서울특별시,01,2021
1,급속,서울특별시 영등포구 경인로 878,13.10,29,2021-01-02 14:58:37,2021-01-02 15:28:25,서울특별시,01,2021
2,급속,서울특별시 영등포구 경인로 878,47.56,33,2021-01-02 20:57:53,2021-01-02 22:31:46,서울특별시,01,2021
3,급속,서울특별시 영등포구 경인로 878,24.77,38,2021-01-04 12:12:02,2021-01-04 12:51:01,서울특별시,01,2021
4,급속,서울특별시 영등포구 경인로 878,19.21,29,2021-01-04 22:51:11,2021-01-04 23:21:04,서울특별시,01,2021
...,...,...,...,...,...,...,...,...,...
638697,급속,서울특별시 중구 퇴계로 140,41.67,21,2022-03-31 09:44:33,2022-03-31 11:05:57,서울특별시,03,2022
638698,급속,서울특별시 중구 퇴계로 140,29.07,44,2022-03-31 12:17:56,2022-03-31 13:02:54,서울특별시,03,2022
638699,급속,서울특별시 중구 퇴계로 140,55.65,21,2022-03-31 16:57:11,2022-03-31 18:19:04,서울특별시,03,2022
638700,급속,서울특별시 중구 퇴계로 140,21.48,3,2022-03-31 13:06:18,2022-03-31 14:09:20,서울특별시,03,2022
638701,급속,서울특별시 중구 퇴계로 140,13.56,24,2022-03-31 07:27:01,2022-03-31 07:51:39,서울특별시,03,2022

In [160]:
kepco = kepco[kepco['년'] == '2021']
kepco = kepco[(kepco['충전구분'] == '급속') & (kepco['시'] == '서울특별시')]
kepco_sum = pd.DataFrame(kepco.groupby(['주소', '월'])['충전량'].sum())[12:]
kepco_total = pd.DataFrame(kepco_sum.groupby('주소')['충전량'].mean())
kepco_total

                                      충전량
주소
서울특별시 강남구 논현동 276-1             45.327500
서울특별시 강남구 대치동 도곡로93길 12        230.568333
서울특별시 강남구 대치동 삼성로51길 37       1497.734167
서울특별시 강남구 대치동 삼성로64길 5         244.898333
서울특별시 강남구 도곡동 선릉로 221         2940.650833
...                                   ...
서울특별시 중랑구 상봉동 봉화산로 130         121.626667
서울특별시 중랑구 상봉동 상봉중앙로1다길 21      279.440000
서울특별시 중랑구 신내동 신내로17길 41        173.902500
서울특별시 중랑구 신내동 신내역로1길 85       1216.762500
서울특별시 중랑구 중랑역로 9 (중화동, 중랑역사)  2402.361667

[419 rows x 1 columns]

In [161]:
kepco_total = kepco_total.reset_index()
kepco_total['구'] = kepco_total['주소'].str.split(' ').str[1]
kepco_total.head()

                        주소          충전량    구
0      서울특별시 강남구 논현동 276-1    45.327500  강남구
1  서울특별시 강남구 대치동 도곡로93길 12   230.568333  강남구
2  서울특별시 강남구 대치동 삼성로51길 37  1497.734167  강남구
3   서울특별시 강남구 대치동 삼성로64길 5   244.898333  강남구
4    서울특별시 강남구 도곡동 선릉로 221  2940.650833  강남구

In [162]:
kepco_total = kepco_total[(kepco_total['구'] == '강남구') | (kepco_total['구'] == '서초구') | (kepco_total['구'] == '구로구')]
kepco_total.columns = Main.columns
kepco_total

                                       지역 주소          충전량    구
0                        서울특별시 강남구 논현동 276-1    45.327500  강남구
1                    서울특별시 강남구 대치동 도곡로93길 12   230.568333  강남구
2                    서울특별시 강남구 대치동 삼성로51길 37  1497.734167  강남구
3                     서울특별시 강남구 대치동 삼성로64길 5   244.898333  강남구
4                      서울특별시 강남구 도곡동 선릉로 221  2940.650833  강남구
..                                       ...          ...  ...
253                       서울특별시 서초구 잠원로3길 40    49.581429  서초구
254                  서울특별시 서초구 주흥5길 20 (반포동)   206.575833  서초구
255  서울특별시 서초구 헌릉로 13 (염곡동, 대한무역투자진흥공사(코트라))   166.321000  서초구
256           서울특별시 서초구 헌릉로 25 (염곡동, 한국연구재단)     8.980000  서초구
257                     서울특별시 서초구 효령로 72길 60  6469.736667  서초구

[80 rows x 3 columns]

In [163]:
Main = Main.append(kepco_total)

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\366177389.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Main = Main.append(kepco_total)

In [164]:
Main

                                       지역 주소          충전량    구
0                      서울특별시 강남구 강남대로120길 33  2505.293333  강남구
1                         서울특별시 강남구 개포동 1273   261.692500  강남구
2                         서울특별시 강남구 개포동 13-2  2558.240833  강남구
3                       서울특별시 강남구 개포로 25길 32  4153.545000  강남구
4                          서울특별시 강남구 개포로 607  2901.313333  강남구
..                                       ...          ...  ...
253                       서울특별시 서초구 잠원로3길 40    49.581429  서초구
254                  서울특별시 서초구 주흥5길 20 (반포동)   206.575833  서초구
255  서울특별시 서초구 헌릉로 13 (염곡동, 대한무역투자진흥공사(코트라))   166.321000  서초구
256           서울특별시 서초구 헌릉로 25 (염곡동, 한국연구재단)     8.980000  서초구
257                     서울특별시 서초구 효령로 72길 60  6469.736667  서초구

[118 rows x 3 columns]

In [165]:
Main.to_excel('../데이터/수요예측/전처리_수요/충전소정보/강남서초구로충전량.xlsx')

### 충전소 위경도 변환
구글 스프레드 시트의 Geocode by Awesome Table 기능을 사용하여 위/경도 변환 하였음

### 충전소 근처 인구수 구하기

In [166]:
Main = pd.read_excel('../데이터/수요예측/전처리_수요/충전소정보/강남서초구로충전량.xlsx')

In [167]:
lat_lon = pd.read_excel('../데이터/수요예측/전처리_수요/충전소정보/충전소위경도.xlsx')
lat_lon.head()

                      주소   Latitude   Longitude          충전량
0  서울특별시 강남구 강남대로120길 33  37.508170  127.026032  2505.293333
1     서울특별시 강남구 개포동 1273  37.475673  127.052090   261.692500
2     서울특별시 강남구 개포동 13-2  37.494911  127.079288  2558.240833
3   서울특별시 강남구 개포로 25길 32  37.481513  127.048516  4153.545000
4      서울특별시 강남구 개포로 607  37.492112  127.073664  2901.313333

In [168]:
Main = Main[['지역 주소', '충전량']]

In [169]:
Main.columns = ['주소', '충전량']
Main = Main.set_index('주소').join(lat_lon.set_index('주소')[['Latitude', 'Longitude']], how = 'inner')

격자별 데이터를 이용하기 위해 위/경도를 Point형식으로 변환

In [170]:
# 충전소 위경도 좌표 Point형식으로 변환

for index in tqdm.tqdm_notebook(Main.index):
    Main['geometry'] = Main.apply(lambda row : Point([row['Longitude'], row['Latitude']]), axis=1)

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\2270694559.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index in tqdm.tqdm_notebook(Main.index):

  0%|          | 0/118 [00:00<?, ?it/s]

c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

격자별 Polygon 정보가 필요하기 때문에 이를 담고있는 데이터 불러오기

In [171]:
# 격자 불러오기
grid = gpd.read_file('../데이터/입지분석/전처리_공통/격자/시범 전기차충전소(시군구격자) 접근성.shp', encoding = 'utf8')

grid.head()

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1..."
3,다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1..."
4,다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1..."

In [172]:
gangnam_pop = gpd.read_file('../데이터/수요예측/전처리_수요/250m격자/인구수/(B100)국토통계_인구정보-총 인구 수(전체)-(격자) 250M_서울특별시 강남구_202204/nlsp_031001001.shp', encoding = 'utf8')
guro_pop = gpd.read_file('../데이터/수요예측/전처리_수요/250m격자/인구수/(B100)국토통계_인구정보-총 인구 수(전체)-(격자) 250M_서울특별시 구로구_202204/nlsp_031001001.shp', encoding = 'utf8')
seocho_pop = gpd.read_file('../데이터/수요예측/전처리_수요/250m격자/인구수/(B100)국토통계_인구정보-총 인구 수(전체)-(격자) 250M_서울특별시 서초구_202204/nlsp_031001001.shp', encoding = 'utf8')

In [173]:
gangnam_pop = gangnam_pop.append([guro_pop, seocho_pop])
pop = gangnam_pop.drop_duplicates(subset=['gid'])

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\2229430982.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gangnam_pop = gangnam_pop.append([guro_pop, seocho_pop])

In [174]:
pop = pop.fillna(0)
pop = pop[['gid', 'val', 'geometry']]
pop = pop.set_index('gid')

In [175]:
pop.columns = ['인구수', 'geometry']
pop.head()

            인구수                                           geometry
gid
다사56ba47ab  0.0  POLYGON ((956500.000 1947250.000, 956500.000 1...
다사56ba47ba  0.0  POLYGON ((956500.000 1947500.000, 956500.000 1...
다사56bb47aa  0.0  POLYGON ((956750.000 1947000.000, 956750.000 1...
다사56bb47ab  0.0  POLYGON ((956750.000 1947250.000, 956750.000 1...
다사56bb47ba  0.0  POLYGON ((956750.000 1947500.000, 956750.000 1...

In [176]:
pop = pop.to_crs(epsg = 4326)
pop.head()

            인구수                                           geometry
gid
다사56ba47ab  0.0  POLYGON ((127.00771 37.52352, 127.00770 37.525...
다사56ba47ba  0.0  POLYGON ((127.00770 37.52578, 127.00768 37.528...
다사56bb47aa  0.0  POLYGON ((127.01055 37.52128, 127.01054 37.523...
다사56bb47ab  0.0  POLYGON ((127.01054 37.52354, 127.01052 37.525...
다사56bb47ba  0.0  POLYGON ((127.01052 37.52579, 127.01051 37.528...

In [177]:
Main['근처인구수'] = 0


for poly_index in tqdm.tqdm_notebook(pop.index):
    for point_index in Main.index:
        if pop.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '근처인구수'] = pop.at[poly_index, '인구수']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3626719514.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(pop.index):

  0%|          | 0/1899 [00:00<?, ?it/s]

### 근처 유동인구
- 급속 충전소의 경우 09시 ~ 19시에 충전량이 가장 많기 때문에 서울특별시 500m × 500m 격자의 09시 ~ 19시 유동인구 추출

In [178]:
floating_pop = pd.read_excel('../데이터/입지분석/전처리_완속/유동인구/주간유동인구.xlsx')
floating_pop

           gid         주간유동인구
0     다사55a53b       0.000000
1     다사53a53a    7040.741719
2     다사52b53a       0.000000
3     다사53a57b       0.000000
4     다사53a54b       0.000000
...        ...            ...
2415  다사70b52a      15.962075
2416  다사67b48a    5713.285099
2417  다사68a47a    2032.911556
2418  다사68a51a       0.000000
2419  다사68a49b  148287.011938

[2420 rows x 2 columns]

In [179]:
floating_pop = grid.set_index('gid').join(floating_pop.set_index('gid'), how = 'inner')
floating_pop.head()

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,주간유동인구
gid,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1...",0.000000
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1...",7040.741719
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1...",0.000000
다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1...",0.000000
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1...",0.000000

In [180]:
floating_pop = floating_pop[['geometry', '주간유동인구']]

floating_pop = floating_pop.to_crs(epsg = 4326)
floating_pop.head()

                                                   geometry       주간유동인구
gid
다사55a53b  POLYGON ((126.99035 37.57979, 126.99032 37.584...     0.000000
다사53a53a  POLYGON ((126.96773 37.57518, 126.96770 37.579...  7040.741719
다사52b53a  POLYGON ((126.96207 37.57515, 126.96204 37.579...     0.000000
다사53a57b  POLYGON ((126.96744 37.61574, 126.96741 37.620...     0.000000
다사53a54b  POLYGON ((126.96764 37.58870, 126.96761 37.593...     0.000000

충전소가 위치하는 격자의 정보 가져오기

In [181]:
Main['주간유동인구'] = 0


for poly_index in tqdm.tqdm_notebook(floating_pop.index):
    for point_index in Main.index:
        if floating_pop.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '주간유동인구'] = floating_pop.at[poly_index, '주간유동인구']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3307898993.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(floating_pop.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 교통량

In [182]:
traffic = pd.read_excel('../데이터/입지분석/전처리_완속/교통량/누적교통량.xlsx')
traffic

           gid     교통량
0     다사55a53b       0
1     다사53a53a  293423
2     다사52b53a    3638
3     다사53a57b       0
4     다사53a54b   46138
...        ...     ...
2415  다사70b52a   21616
2416  다사67b48a  138760
2417  다사68a47a       0
2418  다사68a51a   67453
2419  다사68a49b   34191

[2420 rows x 2 columns]

In [183]:
traffic = grid.set_index('gid').join(traffic.set_index('gid'), how = 'inner')
traffic = traffic[['geometry', '교통량']]

traffic = traffic.to_crs(epsg = 4326)
traffic.head()

                                                   geometry     교통량
gid
다사55a53b  POLYGON ((126.99035 37.57979, 126.99032 37.584...       0
다사53a53a  POLYGON ((126.96773 37.57518, 126.96770 37.579...  293423
다사52b53a  POLYGON ((126.96207 37.57515, 126.96204 37.579...    3638
다사53a57b  POLYGON ((126.96744 37.61574, 126.96741 37.620...       0
다사53a54b  POLYGON ((126.96764 37.58870, 126.96761 37.593...   46138

In [184]:
Main['교통량'] = 0


for poly_index in tqdm.tqdm_notebook(traffic.index):
    for point_index in Main.index:
        if traffic.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '교통량'] = traffic.at[poly_index, '교통량']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3680224052.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(traffic.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 최인접 휴게음식점과의 거리

In [185]:
food = pd.read_excel('../데이터/수요예측/서울시 휴게음식점 인허가 정보.xlsx')
food.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3130000,3130000-104-2022-00101,20220422,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,3230000-104-2022-00094,20220422,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3230000,3230000-104-2022-00095,20220422,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3230000,3230000-104-2022-00096,20220422,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3180000,3180000-104-2022-00128,20220628,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
food = food[['관리번호','영업상태명', '좌표정보(X)', '좌표정보(Y)']]

좌표계 변환

In [187]:
from geopandas import points_from_xy
from pyproj import Proj, transform

converted = transform(Proj(init = 'epsg:2097'), Proj(init = 'epsg:4326'), food['좌표정보(X)'], food['좌표정보(Y)'])

c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\ms964\AppData\Local\Programs\Python\Python310\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\686905300.py:4: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  converted = transform(Proj(init = 'epsg:2097'), Proj(init = 'epsg:4326'), food['좌표정보(X)'], food['좌표정보(Y)'])

In [188]:
longitude = pd.DataFrame(converted[0], columns=['경도'])
latitude = pd.DataFrame(converted[1], columns=['위도'])

latitude = latitude.drop(latitude[latitude['위도'] == np.inf].index, axis=0)
longitude = longitude.drop(longitude[longitude['경도'] == np.inf].index, axis=0)

latitude

               위도
0       37.569992
1       37.484168
2       37.477649
3       37.517562
4       37.520654
...           ...
119321  37.545242
119322  37.573447
119323  37.533027
119324  37.504364
119325  37.648838

[114464 rows x 1 columns]

In [189]:
location = latitude.join(longitude, how = 'inner')

location

               위도          경도
0       37.569992  126.896140
1       37.484168  127.114231
2       37.477649  127.122106
3       37.517562  127.133482
4       37.520654  126.888291
...           ...         ...
119321  37.545242  126.929311
119322  37.573447  127.021540
119323  37.533027  127.025036
119324  37.504364  127.000731
119325  37.648838  127.035319

[114464 rows x 2 columns]

In [190]:
food = food.join(location, how = 'inner')

food = food.set_index('관리번호')
food.head()

,영업상태명,좌표정보(X),좌표정보(Y),위도,경도
관리번호,,,,,
3130000-104-2022-00101,영업/정상,191010.381048,451972.154019,37.569992,126.896140
3230000-104-2022-00094,영업/정상,210289.000000,442448.000000,37.484168,127.114231
3230000-104-2022-00095,영업/정상,210986.460698,441725.293492,37.477649,127.122106
3230000-104-2022-00096,영업/정상,211986.297246,446156.529775,37.517562,127.133482
3180000-104-2022-00128,영업/정상,190310.553875,446496.894116,37.520654,126.888291

폐업한 휴게음식점은 제외

In [191]:
food = food[food['영업상태명'] != '폐업']
food.head()

,영업상태명,좌표정보(X),좌표정보(Y),위도,경도
관리번호,,,,,
3130000-104-2022-00101,영업/정상,191010.381048,451972.154019,37.569992,126.896140
3230000-104-2022-00094,영업/정상,210289.000000,442448.000000,37.484168,127.114231
3230000-104-2022-00095,영업/정상,210986.460698,441725.293492,37.477649,127.122106
3230000-104-2022-00096,영업/정상,211986.297246,446156.529775,37.517562,127.133482
3180000-104-2022-00128,영업/정상,190310.553875,446496.894116,37.520654,126.888291

In [192]:
from haversine import haversine
import numpy as np
import tqdm

Main['최인접휴게음식점'] = np.nan

for index in tqdm.tqdm_notebook(Main.index):
    least_distance = np.inf
    x, y = Main.at[index, 'Latitude'], Main.at[index, 'Longitude']

    for loc_index in food.index:
        x2, y2 = food.at[loc_index, '위도'], food.at[loc_index, '경도']
        least_distance = min(haversine((x, y), (x2, y2)), least_distance)
    Main.at[index, '최인접휴게음식점'] = least_distance

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\1739966877.py:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index in tqdm.tqdm_notebook(Main.index):

  0%|          | 0/118 [00:00<?, ?it/s]

### 근처 사업체 수
- 사업체 수가 많은 지역이 충전이 활발한 지역일 것이라 기대

In [193]:
corp = pd.read_csv('../데이터/입지분석/전처리_완속/사업체수/2019년_사업체_다사_500M.txt', sep='^', header = None)
corp.columns = ['1','gid','2', '사업체수']
corp = corp[['gid', '사업체수']]
corp

            gid  사업체수
0      다사00a38b     3
1      다사00a39a    89
2      다사00a39b    41
3      다사00a40a    14
4      다사00a40b    36
...         ...   ...
19471  다사99b88b     5
19472  다사99b90a     0
19473  다사99b90b     5
19474  다사99b91a     3
19475  다사99b91b     3

[19476 rows x 2 columns]

In [194]:
corp_num = grid.set_index('gid').join(corp.set_index('gid'), how = 'inner')
corp_num.head()

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,사업체수
gid,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1...",3
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1...",1031
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1...",23
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1...",21
다사55a54a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.889,2021,202112,"POLYGON ((955000.000 1954000.000, 955000.000 1...",70

In [195]:
corp_num = corp_num[corp_num['sido_nm_k'] == '서울특별시']
corp_num.head()

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,사업체수
gid,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1...",3
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1...",1031
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1...",23
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1...",21
다사55a54a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.889,2021,202112,"POLYGON ((955000.000 1954000.000, 955000.000 1...",70

In [196]:
corp_num = corp_num.to_crs(epsg = 4326)

In [197]:
Main['사업체수'] = 0


for poly_index in tqdm.tqdm_notebook(corp_num.index):
    for point_index in Main.index:
        if corp_num.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '사업체수'] = corp_num.at[poly_index, '사업체수']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\4279756655.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(corp_num.index):

  0%|          | 0/2071 [00:00<?, ?it/s]

### 최인접 충전소

In [198]:
from haversine import haversine
import numpy as np
import tqdm

Main['최인접충전소'] = np.nan

for index in tqdm.tqdm_notebook(Main.index):
    least_distance = np.inf
    x, y = Main.at[index, 'Latitude'], Main.at[index, 'Longitude']

    for index2 in Main.index:
        if index != index2:
            x2, y2 = Main.at[index2, 'Latitude'], Main.at[index2, 'Longitude']
            least_distance = min(haversine((x, y), (x2, y2)), least_distance)
    Main.at[index, '최인접충전소'] = least_distance

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3359477284.py:7: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index in tqdm.tqdm_notebook(Main.index):

  0%|          | 0/118 [00:00<?, ?it/s]

### 직장인구

In [199]:
job_pop = pd.read_excel('../데이터/입지분석/전처리_완속/직장인구/직장인구.xlsx', index_col=0)

job_pop

                직장인구
gid
다사55a53b     7.25210
다사53a53a  5212.86708
다사52b53a   370.96949
다사53a57b     0.00000
다사53a54b     1.11775
...              ...
다사70b52a   343.77363
다사67b48a  3428.24468
다사68a47a    48.00001
다사68a51a   146.21754
다사68a49b  1459.25942

[2420 rows x 1 columns]

In [200]:
job_pop = grid.set_index('gid').join(job_pop, how = 'inner')
job_pop = job_pop[['geometry', '직장인구']]

In [201]:
job_pop = job_pop.to_crs(epsg = 4326)

In [202]:
Main['직장인구'] = 0


for poly_index in tqdm.tqdm_notebook(job_pop.index):
    for point_index in Main.index:
        if job_pop.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '직장인구'] = job_pop.at[poly_index, '직장인구']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3884648364.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(job_pop.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 주차장 개수

In [203]:
parking = pd.read_excel('../데이터/입지분석/전처리_급속/주차장/주차장수.xlsx')
parking

           gid  주차장수  주차가능대수
0     다사55a53b     0       0
1     다사53a53a     0       0
2     다사52b53a     0       0
3     다사53a57b     0       0
4     다사53a54b     0       0
...        ...   ...     ...
2415  다사70b52a     0       0
2416  다사67b48a     0       0
2417  다사68a47a     0       0
2418  다사68a51a     0       0
2419  다사68a49b     0       0

[2420 rows x 3 columns]

In [204]:
parking = grid.set_index('gid').join(parking.set_index('gid'), how = 'inner')

parking

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,주차장수,주차가능대수
gid,,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1...",0,0
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1...",0,0
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1...",0,0
다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1...",0,0
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
다사70b52a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,3.329,2021,202112,"POLYGON ((970500.000 1952000.000, 970500.000 1...",0,0
다사67b48a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.290,2021,202112,"POLYGON ((967500.000 1948000.000, 967500.000 1...",0,0
다사68a47a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,1.036,2021,202112,"POLYGON ((968000.000 1947000.000, 968000.000 1...",0,0
다사68a51a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.955,2021,202112,"POLYGON ((968000.000 1951000.000, 968000.000 1...",0,0
다사68a49b,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.305,2021,202112,"POLYGON ((968000.000 1949500.000, 968000.000 1...",0,0

In [205]:
parking = parking[['geometry', '주차장수', '주차가능대수']]
parking = parking.to_crs(epsg = 4326)

In [206]:
Main['주차장수'] = 0
Main['주차가능대수'] = 0


for poly_index in tqdm.tqdm_notebook(parking.index):
    for point_index in Main.index:
        if parking.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '주차가능대수'] = parking.at[poly_index, '주차가능대수']
            Main.at[point_index, '주차장수'] = parking.at[poly_index, '주차장수']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\4043196711.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(parking.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 최인접 주유소

In [207]:
oil_station = pd.read_excel('../데이터/수요예측/주유소_주소_전처리.xlsx')

In [208]:
Main['최인접주유소'] = np.nan

for index in tqdm.tqdm_notebook(Main.index):
    least_distance = np.inf
    x, y = Main.at[index, 'Latitude'], Main.at[index, 'Longitude']

    for index2 in oil_station.index:
        x2, y2 = oil_station.at[index2, '위도'], oil_station.at[index2, '경도']
        least_distance = min(haversine((x, y), (x2, y2)), least_distance)
    Main.at[index, '최인접주유소'] = least_distance

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\2643919810.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index in tqdm.tqdm_notebook(Main.index):

  0%|          | 0/118 [00:00<?, ?it/s]

### 압축도/복합도

In [209]:
compressibility = pd.read_excel('../데이터/입지분석/전처리_공통/압축도/500m 격자별 압축도.xlsx', index_col=0)
complexity = pd.read_excel('../데이터/입지분석/전처리_공통/복합도/500m 격자별 복합도.xlsx', index_col=0)

complexity

          복합도
gid
다사52a53a    8
다사52a54a    1
다사52a55a    4
다사52a56a    5
다사52a57a    5
...       ...
다사70b50b    6
다사70b51b    3
다사70b52b    1
다사71b49b    7
다사71b50b    4

[2420 rows x 1 columns]

In [210]:
compressibility[compressibility['압축도'] < 0] = 0
complexity[complexity['복합도'] < 0] = 0

In [211]:
comm = grid.set_index('gid').join(complexity.join(compressibility, how = 'inner'), how = 'inner')
comm = comm[['geometry', '복합도', '압축도']]

In [212]:
comm = comm.to_crs(epsg = 4326)

In [213]:
Main['압축도'] = 0
Main['복합도'] = 0


for poly_index in tqdm.tqdm_notebook(comm.index):
    for point_index in Main.index:
        if comm.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '압축도'] = comm.at[poly_index, '압축도']
            Main.at[point_index, '복합도'] = comm.at[poly_index, '복합도']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\3090798613.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(comm.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 주거인구
- 실제 주거하고 있는 인구 수

In [214]:
resi_pop = pd.read_excel('../데이터/입지분석/전처리_완속/주거인구/주거인구.xlsx', index_col=0)
resi_pop.head()

             주거인구
gid
다사55a53b     5.34
다사53a53a  3613.72
다사52b53a  1924.08
다사53a57b     0.00
다사53a54b   672.40

In [215]:
resi_pop = grid.set_index('gid').join(resi_pop, how = 'inner')
resi_pop = resi_pop[['주거인구', 'geometry']]

In [216]:
resi_pop = resi_pop.to_crs(epsg = 4326)

In [217]:
Main['주거인구'] = 0


for poly_index in tqdm.tqdm_notebook(resi_pop.index):
    for point_index in Main.index:
        if resi_pop.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '주거인구'] = resi_pop.at[poly_index, '주거인구']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\2692009789.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(resi_pop.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 근처 급속 충전소 개수

In [218]:
charger = pd.read_excel('../데이터/입지분석/전처리_급속/충전소/급속충전소개수.xlsx', index_col=0)
charger = grid.set_index('gid').join(charger, how = 'inner')
charger = charger.to_crs(epsg = 4326)
charger.head()

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,충전소개수
gid,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((126.99035 37.57979, 126.99032 37.584...",0
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((126.96773 37.57518, 126.96770 37.579...",0
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((126.96207 37.57515, 126.96204 37.579...",0
다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((126.96744 37.61574, 126.96741 37.620...",0
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((126.96764 37.58870, 126.96761 37.593...",0

In [219]:
charger = charger[['geometry', '충전소개수']]
charger.head()

                                                   geometry  충전소개수
gid
다사55a53b  POLYGON ((126.99035 37.57979, 126.99032 37.584...      0
다사53a53a  POLYGON ((126.96773 37.57518, 126.96770 37.579...      0
다사52b53a  POLYGON ((126.96207 37.57515, 126.96204 37.579...      0
다사53a57b  POLYGON ((126.96744 37.61574, 126.96741 37.620...      0
다사53a54b  POLYGON ((126.96764 37.58870, 126.96761 37.593...      0

In [220]:
Main['충전소개수'] = 0


for poly_index in tqdm.tqdm_notebook(charger.index):
    for point_index in Main.index:
        if charger.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '충전소개수'] = charger.at[poly_index, '충전소개수']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\841797185.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(charger.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

### 공시지가

In [221]:
price = pd.read_excel('../데이터/입지분석/기타/공시지가_500x500.xlsx')[['gid', 'val']]
price.columns = ['gid', '공시지가']
price = grid.set_index('gid').join(price.set_index('gid'), how = 'inner')
price = price.to_crs(epsg = 4326)
price.head()

,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry,공시지가
gid,,,,,,,,,,,
다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((126.99035 37.57979, 126.99032 37.584...",1282125.55
다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((126.96773 37.57518, 126.96770 37.579...",6302790.14
다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((126.96207 37.57515, 126.96204 37.579...",1254670.23
다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((126.96744 37.61574, 126.96741 37.620...",12940.60
다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((126.96764 37.58870, 126.96761 37.593...",913327.96

In [222]:
price = price[['geometry', '공시지가']]

In [223]:
Main['공시지가'] = 0


for poly_index in tqdm.tqdm_notebook(price.index):
    for point_index in Main.index:
        if price.at[poly_index, 'geometry'].intersects(Main.at[point_index, 'geometry']):
            Main.at[point_index, '공시지가'] = price.at[poly_index, '공시지가']

C:\Users\ms964\AppData\Local\Temp\ipykernel_41656\2288753330.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for poly_index in tqdm.tqdm_notebook(price.index):

  0%|          | 0/2420 [00:00<?, ?it/s]

## 통계분석
- 추출한 변수들과 충전량과의 회귀분석
- 한달 평균 충전량이 200이하인 경우 고장났거나 이상치라 판단되어 제거

In [226]:
Main = Main[Main['충전량'] > 200]

이상치가 많고 변수들간 공선성이 판단되어 이상치를 가장 최소화해주는 Robust 스케일링 적용

In [227]:
import statsmodels.api as sm
from sklearn.preprocessing import RobustScaler

x = Main[['근처인구수', '주간유동인구', '교통량',
       '최인접휴게음식점', '사업체수', '최인접충전소', '직장인구', '주차장수', '주차가능대수', '최인접주유소', '압축도',
       '복합도', '주거인구', '충전소개수', '공시지가']]
y = Main[['충전량']]

scaled_x = RobustScaler().fit_transform(x)

model = sm.OLS(y, scaled_x)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    충전량   R-squared (uncentered):                   0.475
Model:                            OLS   Adj. R-squared (uncentered):              0.369
Method:                 Least Squares   F-statistic:                              4.466
Date:                Sun, 28 Aug 2022   Prob (F-statistic):                    6.58e-06
Time:                        15:58:21   Log-Likelihood:                         -805.57
No. Observations:                  89   AIC:                                      1641.
Df Residuals:                      74   BIC:                                      1678.
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           143.6856    535.033      0.269      0.789    -922.390    1209.761
x2          -326.0346    234.290     -1.392      0.168    -792.867     140.798
x3          1004.8667    339.468      2.960      0.004     328.463    1681.271
x4           721.9881    492.508      1.466      0.147    -259.355    1703.331
x5           182.9043    798.862      0.229      0.820   -1408.864    1774.673
x6           394.0519    370.044      1.065      0.290    -343.276    1131.380
x7          1104.9011    510.773      2.163      0.034      87.164    2122.638
x8          1341.6470    543.112      2.470      0.016     259.473    2423.821
x9          -449.6293    558.989     -0.804      0.424   -1563.439     664.181
x10         -396.5643    480.814     -0.825      0.412   -1354.607     561.478
x11        -1852.5034    804.170     -2.304      0.024   -3454.847    -250.160
x12         -497.7590    588.538     -0.846      0.400   -1670.446     674.928
x13           80.1894    724.048      0.111      0.912   -1362.508    1522.887
x14         -217.6489    323.402     -0.673      0.503    -862.042     426.744
x15         1091.9459    655.891      1.665      0.100    -214.946    2398.838
==============================================================================
Omnibus:                       21.567   Durbin-Watson:                   1.898
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.081
Skew:                           1.031   Prob(JB):                     6.55e-08
Kurtosis:                       5.162   Cond. No.                         10.0
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 회귀분석 결과
- 가장 의미가 없는 변수(유의확률이 높은 변수)부터 제거

- 최종적으로 유의미하다고 판단되는 변수들
    - 교통량, 최인접휴게음식점, 직장인구, 주차장수, 압축도, 공시지가

In [228]:
import statsmodels.api as sm
from sklearn.preprocessing import RobustScaler

x = Main[['교통량','최인접휴게음식점', '직장인구', '주차장수', '압축도', '공시지가']]
y = Main[['충전량']]

scaled_x = RobustScaler().fit_transform(x)

model = sm.OLS(y, scaled_x)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    충전량   R-squared (uncentered):                   0.429
Model:                            OLS   Adj. R-squared (uncentered):              0.388
Method:                 Least Squares   F-statistic:                              10.39
Date:                Sun, 28 Aug 2022   Prob (F-statistic):                    1.45e-08
Time:                        15:58:28   Log-Likelihood:                         -809.33
No. Observations:                  89   AIC:                                      1631.
Df Residuals:                      83   BIC:                                      1646.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           940.3682    320.624      2.933      0.004     302.661    1578.076
x2           710.0528    399.374      1.778      0.079     -84.286    1504.392
x3           853.9002    349.108      2.446      0.017     159.539    1548.261
x4           880.4743    232.880      3.781      0.000     417.285    1343.664
x5         -1732.9080    475.691     -3.643      0.000   -2679.038    -786.778
x6           928.4307    429.353      2.162      0.033      74.466    1782.396
==============================================================================
Omnibus:                       28.784   Durbin-Watson:                   1.934
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.444
Skew:                           1.214   Prob(JB):                     3.36e-13
Kurtosis:                       6.097   Cond. No.                         3.36
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 회귀식
$ y = 542.5494×교통량 + 648.2920×직장인구 + 700.0375×주차장수 - 1022.3844×최인접주유소 - 1414.1896×압축도 $

In [232]:
Main_result = RobustScaler().fit_transform(Main[['교통량','최인접휴게음식점', '직장인구', '주차장수', '압축도', '공시지가']]) *[940.3682, 710.0528, 853.9002, 880.4743, -1732.9080, 928.4307]

In [233]:
Main_result = pd.DataFrame(Main_result, columns = ['교통량','최인접휴게음식점', '직장인구', '주차장수', '압축도', '공시지가'])

In [234]:
Main_result['predict'] = Main_result['교통량'] + Main_result['최인접휴게음식점']+ Main_result['직장인구'] + Main_result['주차장수'] + Main_result['압축도'] + Main_result['공시지가']

In [236]:
Main_result['충전량'] = np.array(Main['충전량'])

In [237]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(Main_result['충전량'], Main_result['predict']))

2153.1118071720903